<%= link_to 'log out', destroy_tenants_session_path, method: :delete %> 


<h2>Welcome, <%= @tenant.name.capitalize %>.</h1>

<h3>Residence: <%= @property.title %></h3>
<h5><%= @property.location %></h5>

<div>
	<h3>Property Manager: <%= @property.property_manager.name.capitalize %></h3>
<%= link_to "Contact #{@property.property_manager.name.capitalize}" %>
<%= link_to "Create a Maintenance Request", new_maintenance_request_path %>
<%= link_to "Schedule a meeting with #{@property.property_manager.name.capitalize}" %>
</div> 

<div>
	<h3>Rent due: <%= @tenant.current_invoice.paid? ? number_to_currency(0.0) : number_to_currency(@tenant.current_invoice.amount_due) %></h3>
	<%= button_to "Pay Rent", invoice_path ,method: :patch %>
</div>



