<h2>Subject: <%= @request.subject  %></h2>

<h3>Description</h3>
<p><%= @request.description %></p>

<h3>Status: <%= @request.completed? ? 'Complete' : 'Incomplete' %></h3>

<%= button_to('Mark Completed',{ action: "update"}, method: :patch) if @request.completed? == false %>
<%= button_to('Cancel Request', {}, method: :delete) if @request.completed? == false && current_user.is_a?(Tenant) %>
<%= link_to("Contact #{current_user.property_manager.name.capitalize}", contact_path) if current_user.is_a?(Tenant) %>
<%= link_to 'View all requests', maintenance_requests_path %>