<h2><%= @property.title %></h2>
<h3>Location: <%= @property.location %></h3>
<h3>Rooms: <%= @property.rooms %></h3>
<h3>Available rooms: <%= @property.available_rooms %></h3>


<div>
	<h3>Tenants:</h3>
	<ul>
		<% @property.tenants.each do |tenant| %>
			<li><%= link_to tenant.name, tenant %> <%= button_to 'Remove tenant', tenant_path(tenant), method: :delete %></li>
		<% end %>
	</ul>
	<%= link_to 'Add tenant', new_tenant_path if @property.has_rooms? %>
</div>

<div>
	<h3>Active Maintenance Requests:</h3>
	<ul>
		<% @active_maintenance_requests.each do |request| %>
			<li><%= link_to request.subject, maintenance_request_path(request) %></li>
		<% end %>
	</ul>
</div>