<%= link_to 'log out', destroy_property_manager_session_path , method: 'delete' %> 


<h2>Welcome, <%= @manager.name.capitalize %>.</h1>



<div>
	<%= link_to 'View properties', property_manager_properties_path(current_user) %>
	<%= link_to 'Maintenance Requests', property_manager_maintenance_requests_path(current_user) %>
</div> 

	<!-- Optional feature -->

	<!-- <div>
		<h3>Next scheduled meeting:</h3>
		<%= link_to "View all scheduled meetings" %>
	</div>
	 -->


