<%= link_to 'log out', property_manager_destroy_path, method: 'delete' %> 


<h2>Welcome, <%= @manager.name.capitalize %>.</h1>



<div>
	<%= link_to 'View properties', properties_path %>
	<%= link_to 'Maintenance Requests', maintenance_requests_path %>
</div> 

<div>
	<h3>Next scheduled meeting:</h3>
	<%= link_to "View all scheduled meetings" %>
</div>



