<!DOCTYPE html>
<html>
  <head>
    <title>Notsa</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <%= link_to 'Home', current_user %>
      <% if current_user.is_a?(PropertyManager) %>
        <%= link_to 'Properties', properties_path %>  
      <% end %>

      <%= link_to 'Maintenance Requests', maintenance_requests_path %>
      <%= link_to 'Scheduled Meetings' %>
      <%= link_to 'Invoices', invoices_path %>
      <% if current_user.is_a?(Tenant) %>
        <%= link_to 'Contact Property Manager', contact_path %>  
      <% end %>
    </nav>
  	<%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
    <%= yield %>
  </body>
</html>
