<!DOCTYPE html>
<html>
  <head>
    <title>Notsa</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <%= link_to 'Home', root_path %>
      <% if current_user.is_a?(PropertyManager) %>
        <%= link_to 'Properties', property_manager_properties_path(current_user) %>  
      <% end %>

      <%= link_to 'Maintenance Requests', maintenance_requests_path %>
      <!-- <%= link_to 'Scheduled Meetings' %> -->
      <%= link_to 'Invoices', invoices_path || property_manager_invoices_path(current_user) %>
      <% if current_user.is_a?(Tenant) %>
        <%= link_to 'Contact Property Manager', contact_path %>  
      <% end %>

      <%= link_to('Log out', (current_user.is_a?(Tenant) ? destroy_tenant_session_path(current_user) : destroy_property_manager_session_path(current_user)), method: :delete) if current_user %> 
    </nav>
  	<%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
    <%= yield %>
  </body>
</html>
